MYSQL_NAME=name_of_db
MYSQL_DATABASE=name_of_db
MYSQL_HOST=db
MYSQL_USER=username
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password

TOKEN=tg_token
AUTO_TG=auto_tg_token
AUTO_TG_URL=auto_tg_url
ADMIN_ID=tg_id

